body {
    zoom: 90% !important;
}

#logo_header_mobile {
    max-width: 190px;
}

.wg-table.table-all-user>* {
    min-width: 1260px;
}

.wgp-pagination svg {
    height: 20px;
}

.wgp-pagination p {
    font-size: 16px;
}

.pagination {
    margin-left: 30px;
}

.pagination .page-link {
    padding: 1.1rem;
    font-size: 16px;
}

.swal-button--confirm {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.swal-button--confirm.active,
.swal-button--confirm:active,
.show>.swal-button--confirm.dropdown-toggle,
.swal-button--confirm:hover {
    background-color: #b02a37 !important;
    border-color: #a52834 !important;
    color: #fff;
}

.swal-footer {
    text-align: center;
}

.table-bordered>:not(caption)>*>* {
    border-width: inherit;
    line-height: 32px;
    font-size: 14px;
    border: 1px solid #e1e1e1;
    vertical-align: middle;
}

.table-striped .image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
}

.table-striped {
    min-width: 1200px;
}

.table-striped th:nth-child(2),
.table-striped td:nth-child(2) {
    width: 250px;
    /* padding: .5rem; */
}

.pname {
    display: flex;
    gap: 13px;
}

.view-icon {
    width: 20px;
    margin: 0 auto;
}
.wg-table.table-all-user>* {
    min-width: 1260px;
}

/*------*/
.wgp-pagination svg {
    height: 20px;
}

.wgp-pagination p {
    font-size: 16px;
}

.swal-button--confirm {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.swal-button--confirm.active,
.swal-button--confirm:active,
.show>.swal-button--confirm.dropdown-toggle,
.swal-button--confirm:hover {
    background-color: #b02a37 !important;
    border-color: #a52834 !important;
    color: #fff;
}

.swal-footer {
    text-align: center;
}

.table-bordered>:not(caption)>*>* {
    border-width: inherit;
    line-height: 32px;
    font-size: 14px;
    border: 1px solid #e1e1e1;
    vertical-align: middle;
}

.table-striped .image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
}

.table-striped {
    min-width: 1200px;
}

.table-striped th:nth-child(2),
.table-striped td:nth-child(2) {
    /* width: 250px; */
    /* padding: .5rem; */
}

.pname {
    display: flex;
    gap: 13px;
}

.view-icon {
    width: 20px;
    margin: 0 auto;
}

.wg-table th,
.table th {
    background-color: var(--primary);
    color: var(--White);
}

.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: var(--accent);
}

.wg-table th,
.table th,
.wg-table td,
.table td {
    padding-left: 10px;
    padding-right: 10px;
}

.wg-table th:first-child,
.table th:first-child,
.wg-table td:first-child,
.table td:first-child,
.wg-table th:last-child,
.table th:last-child,
.wg-table td:last-child,
.table td:last-child {
    text-align: center;
}

.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg-accent {
    background-color: var(--accent);
}

.bg-white {
    background-color: var(--White);
}

.bg-transparent {
    background-color: transparent;
}

.breadcrumbs .text-tiny {
    color: var(--primary) !important;
}

.header-user .text-tiny {
    color: var(--White);
}

.input-group-text {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 14px;
}

.wg-chart-default {
    background-color: var(--White);
}

.wg-chart-default:hover {
    background-color: var(--secondary);
}

.wg-chart-default .image i {
    color: var(--secondary);
}

.wg-chart-default:hover .image i {
    color: var(--primary);
}

.wg-chart-default .image .image img, .wg-chart-default .image svg {
    color: var(--secondary);
    fill: var(--secondary);
}

.wg-chart-default:hover .image img, .wg-chart-default:hover .image svg {
    color: var(--primary);
    fill: var(--primary);
}

.wg-chart-default .body-text {
    color: var(--primary);
}

.wg-chart-default:hover .body-text {
    color: var(--White);
}

.wg-chart-default:hover h4 {
    color: var(--White);
}

.layout-wrap .section-menu-left {
    background-color: var(--accent);
}

.layout-wrap.full-width .header-dashboard .button-show-hide i {
    color: var(--White);
}

.layout-wrap .section-menu-left .button-show-hide:hover i {
    color: var(--White);
}

.layout-wrap .section-menu-left > .center .center-heading,
.layout-wrap .section-menu-left > .center .center-item .menu-list .menu-item a .text,
.layout-wrap .section-menu-left > .center .center-item .menu-list .menu-item.has-children.active > a .text,
.layout-wrap .section-menu-left > .center .center-item .menu-list .menu-item a .icon i,
.layout-wrap .section-menu-left > .center .center-item .menu-list .menu-item.has-children.active > a .icon i,
.layout-wrap .section-menu-left > .center .center-item .menu-list .menu-item.has-children .sub-menu a .text {
    color: var(--primary);
}

.layout-wrap .section-menu-left > .center .center-item .menu-list .menu-item a:hover .text,
.layout-wrap .section-menu-left > .center .center-item .menu-list .menu-item a:hover .icon i,
.layout-wrap .section-menu-left > .center .center-item .menu-list .menu-item.has-children .sub-menu a:hover .text {
    color: var(--secondary) !important;
}

.layout-wrap .section-menu-left > .center .center-item .menu-list .menu-item.has-children::after,
.layout-wrap .section-menu-left > .center .center-item .menu-list .menu-item.has-children.active::after {
    color: var(--primary);
}

.wg-box {
    background-color: var(--White);
}

.wg-box h5 {
    color: var(--primary);
}

.body-title-2, .wg-box .body-title {
    color: var(--primary);
}

.wg-table .body-title-2,
.wg-table .text-tiny,
.table .body-title-2,
.table .text-tiny {
    color: var(--primary);
}

input, select, textarea {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.upload-image .item.up-load {
    border-color: var(--primary);
}

.upload-image .uploadfile .icon, .body-text, .text-tiny {
    color: var(--primary);
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
    background-color: transparent;
    border-color: transparent;
    color: var(--Main);
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary *, .btn-primary:hover * {
    color: var(--Main);
}

.btn-danger {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #dc3545 !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-danger * {
    color: #dc3545 !important;
}

.btn-success {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #198754 !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-success * {
    color: #198754 !important;
}

.btn.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color: var(--White) !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn.btn-primary * {
    color: var(--White) !important;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
    background-color: transparent !important;
    border-color: var(--primary) !important;
    color: var(--primary) !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn.btn-primary:hover * {
    color: var(--primary) !important;
}

.btn-secondary {
    background-color: transparent !important;
    border-color: var(--secondary) !important;
    color: var(--secondary) !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-secondary * {
    color: var(--secondary) !important;
}

.btn.btn-secondary {
    background-color: var(--secondary) !important;
    color: var(--White) !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn.btn-secondary * {
    color: var(--White) !important;
}

.border-0 {
    border-width: 0 !important;
}

.popup-wrap.user .dropdown-menu.show .user-item:hover .icon i,
.popup-wrap.user .dropdown-menu.show .user-item:hover .body-title-2 {
    color: var(--secondary);
}

.layout-wrap .section-content-right .main-content .main-content-inner {
    min-height: 100vh;
}

.bottom-page {
    position: fixed;
    bottom: 0;
    justify-content: flex-end !important;
    padding: 10px 30px !important;
    width: calc(100% - 280px);
}

.layout-wrap.full-width .bottom-page {
    width: 100%;
}

.select-primary {
    border-color: var(--primary) !important;
    background-color: var(--primary);
    color: var(--White) !important;
}

.select-secondary {
    border-color: var(--secondary) !important;
    background-color: var(--secondary);
    color: var(--White) !important;
}

.select:has(.select-primary, .select-secondary)::after {
    color: var(--White) !important;
}

.w-half .wg-table.table-striped, .w-half .table.table-striped {
    min-width: 100%;
}

.popup-wrap.message > .dropdown .header-item > .text-tiny {
    background: var(--secondary);
    color: var(--primary);
    padding: 10px;
}

.popup-wrap.message > .dropdown .header-item > .text-tiny::after {
    background: var(--secondary);
}

.dropdown.default > .dropdown-menu a:hover {
    color: var(--secondary);
}